$primary-color-darkblue: rgb(0, 0, 112);

.sidebar
{
    bottom: 0;
    position:sticky;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 3rem 4rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .sidebar-client-profile
    {
        .avatar
        {
            width: 175px;
            height: 175px;
            border-radius: 50%;
            font-size:70px;
            margin-bottom: 10px;
            background-color: $primary-color-darkblue;
        }
        h1
        {
            font-size:3rem;
            color: $primary-color-darkblue;
        }
    }
    .sidebar-menu-items
    {
        list-style: none;
        padding: 0;
       
        .item-style
        {
            color:rgb(173, 173, 173);
        }
        .item-style:hover
        {
            color:$primary-color-darkblue;
        }
        .sidebar-text
        {
            
            .sidebar-link 
            {
                font-size:30px;
                text-decoration: none;
            }

            .active-link
            {
                color:black;
            }
        }

       .signout-btn
       {

            button
            {
                background: none;
                padding:0px;
                border:none;
                
                font-size:30px;
        }
        
       }
    }
       
       
}