.footer{
    background-color: black;
    color: white;
    padding: 20px;
}

.footer-content{
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footer_links{
    display: flex;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
  }