.footer{
    background-color: white;
    color: black;
    padding: 20px;
}

.container_logo{
    display: flex;
}


.logo {
    height: 100%;
    width: 200px;
}

.footer-content_right{
    text-align: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: block;
}

.footer_email{
    text-align: center;
}

.copyright {
    text-align: right;
    font-size: 13px;
  }