.carouselwrapper {
  overflow: hidden;
  background: #fd7e34;
  position:relative;
  
  .carousel-items-container {
      position: relative;
      display: flex;
      width: 100vw;
      height: 100vh;
      
      .card {
          position: absolute;
          width: 100%;
          height: 100%;
          transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
          border: 0;
  
          &.current-item {
              z-index: 3;
              opacity: 1;
          }
  
          &.previous-item {
              transform: translateX(-100%);
              opacity: 0;
          }
          &.next-item {
              transform: translateX(100%);
              opacity: 0;
          }
      }
  }
}


.interface-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;

  .interface {
      position: relative;
      width: 100%;
      height: 100%;

      .interface-button {
          position: absolute;
          cursor: pointer;
          pointer-events: all;

          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #1F486F;
          width:40px;
          height:40px;
          border-radius:50%;
          color:whitesmoke;
          box-shadow: 0px 2px 5px 1px rgba(0,0,0,.25);
          border: 0;
          transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
        
        &:hover {
          background: #666;
        }


        &.prev-button {
          left: 1em;
          top: 50%;
          transform: translate(0%, -50%);
        }
        &.next-button {
          right: 1em;
          top: 50%;
          transform: translate(0%, -50%);
        }
      }

      .slide-nav {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 25px;

        .dot {
          height: 20px;
          width: 20px;
          background-color: rgba(245, 245, 245, 0.467);
          border-radius: 50%;
          display: inline-block;
          margin-inline: 8px;
          pointer-events: all;
          cursor: pointer;

          &.active-dot {
            background-color: #1f486fca;
          }
        }
      }
  }

}
