@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.slide-container {
    background-color: #fd7e34;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    .slide-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding-top: 2em;
        font-family: Montserrat;

        .img-container {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: flex-end;

            img {
                width: 80%;
                border-radius: 40px;
                box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.116);
            }
        }

        .slide-text {
            display: flex;
            flex-direction: column;
            padding-inline: 3em;
            padding-right: 100px;
            flex: 1;
            text-align: left;
            color: #1F486F;
            letter-spacing: 2px;
            justify-content: flex-end;
            height: 100%;
            max-width: 1000px;

            h1 {
                font-weight: bold;
                font-size: 60px;
            }
            
            span {
                font-size: 18px;
                color: whitesmoke;
            }

            p {
                // text-align: left;
                color: #1f486f;
                font-weight: 500;

                // strong {
                // }
            }
        }
    }
}

