.header{
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.content_about{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 20px;
}