
.home{
    background-image: url('https://cdn.hswstatic.com/gif/gettyimages-ec2879-002.jpg');
    background-size: cover;
    //width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
   
    .desc
    {
        animation: slideIn 1.5s cubic-bezier(0.2, 0.5, 0.2, 0.5) 0.5s forwards;
        margin:0 200px;
        color: white;
        h1
        {
            
            font-weight: bolder;
            font-size: 3rem;
            text-align: left;
            align-items: flex-start;
            justify-content: center;
        }

        p
        {
            margin-bottom: 2px;
        }

        .link
        {
            font-size:18px;
            font-weight:bold;
            color: rgb(255, 255, 255);
            text-decoration: none;    
            transition: 0.2s color ease-in-out; 
            &:hover{
                color: rgb(0, 0, 0);
                text-decoration: none;}
        }
    }
    
}
@keyframes slideIn{
    0% {
        transform: translateX(-100%);
        opacity: 0;
      }
      50% {
        transform: translateX(-10%);
        opacity: 0.5;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}