body {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    background-image: url('https://cdn.hswstatic.com/gif/gettyimages-ec2879-002.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family:"Montserrat", sans-serif;
}