.register {
    background-color: rgb(48, 28, 136);
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .signup-form {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        h1,input, .name-container,
        .location-container {
            margin: 0 0 20px 0;
            
        }
       .name-container,
        .location-container {
            display: flex;
            justify-content: space-between;
           
            width: 100%;
            
        }

        button {
            text-align: center;
            margin-top:20px;
        }
    }
}